[submodule "releng/airootfs/etc/skel/.zsh"]
	path = releng/airootfs/etc/skel/.zsh
	url = https://github.com/Thomashighbaugh/zsh
[submodule "releng/airootfs/etc/skel/.config/awesome"]
	path = releng/airootfs/etc/skel/.config/awesome
	url = https://github.com/the-Electric-Tantra-Linux/awesome
[submodule "releng/airootfs/usr/share/icons/chhinamasta"]
	path = releng/airootfs/usr/share/icons/chhinamasta
	url = https://github.com/the-Electric-Tantra-Linux/chhinamasta-icon-theme
[submodule "releng/airootfs/etc/skel/.config/nvim"]
	path = releng/airootfs/etc/skel/.config/nvim
	url = https://github.com/Thomashighbaugh/nvim-forge
