[Desktop Entry]
Exec=sh -c "~/.config/autostart/hide-other-icons.sh"
Name=Hide desktop icons of other DEs
StartupNotify=false
Terminal=false
Type=Application
